html, body {
    min-width: 100vw;
    min-height: 100vh;
}
li, ul, ol {
    list-style-type: none;
}
.hero {
    background-image: url(../img/yungas.jpg);
    background-position: center;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    color: #EEEEEE;
}
@media (min-width: 768px){
    
}